In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir("../")
root_path = os.getcwd()

# 따옴표 안에 데이터가 있는 폴더의 상위폴더
data_folder_path = os.path.join(root_path, 'data')
original_file_path = os.path.join(data_folder_path, 'original_data')
original_raw_file_path = os.path.join(original_file_path,'raw_data')
original_processed_file_path = os.path.join(original_file_path,'processed_data')

external_file_path = os.path.join(data_folder_path,'external_data')
external_raw_file_path = os.path.join(external_file_path,'raw_data')
external_processed_file_path = os.path.join(external_file_path,'processed_data')

In [3]:
skflow = pd.read_csv(os.path.join(original_processed_file_path,'SK_melted_flow_age.csv'))
skflow['variable'] = skflow['age'].str[-4:].str.replace('_', "")

In [4]:
skflow['weekday'] = np.where(skflow['weekday'] == '평일',0,1)

In [5]:
skflow['variable'] = np.where((skflow['variable'] == '6064') | (skflow['variable'] == '6569') | (skflow['variable'] == '70U'),'60U',skflow['variable'])

skflow['variable'] = np.where((skflow['variable'] == '0004') | (skflow['variable'] == '0509') | (skflow['variable'] == '1014') | (skflow['variable'] == '1519') | (skflow['variable'] == '2024') | (skflow['variable'] == '2529'), '30L', skflow['variable'])

skflow['variable'] = np.where((skflow['variable'] == '0004') | (skflow['variable'] == '0509') | (skflow['variable'] == '3034') | (skflow['variable'] == '3539') | (skflow['variable'] == '4044') | (skflow['variable'] == '4549') | (skflow['variable'] == '5054') | (skflow['variable'] == '5559'), '3059', skflow['variable'])

In [6]:
skflow

,STD_YM,STD_YMD,HDONG_CD,HDONG_NM,age,flow_counts,year,month,weekofyear,dayofweek,weekday,variable
0,201902,2019-02-01,1114052000,소공동,MAN_FLOW_POP_CNT_0004,16.64,2019,2,5,4,0,30L
1,201902,2019-02-01,1114052000,소공동,MAN_FLOW_POP_CNT_0509,116.18,2019,2,5,4,0,30L
2,201902,2019-02-01,1114052000,소공동,MAN_FLOW_POP_CNT_1014,419.70,2019,2,5,4,0,30L
3,201902,2019-02-01,1114052000,소공동,MAN_FLOW_POP_CNT_1519,1553.57,2019,2,5,4,0,30L
4,201902,2019-02-01,1114052000,소공동,MAN_FLOW_POP_CNT_2024,5196.07,2019,2,5,4,0,30L
...,...,...,...,...,...,...,...,...,...,...,...,...
498865,202005,2020-05-31,2726069000,고산3동,WMAN_FLOW_POP_CNT_5054,2544.62,2020,5,22,6,1,3059
498866,202005,2020-05-31,2726069000,고산3동,WMAN_FLOW_POP_CNT_5559,2074.62,2020,5,22,6,1,3059
498867,202005,2020-05-31,2726069000,고산3동,WMAN_FLOW_POP_CNT_6064,1529.44,2020,5,22,6,1,60U
498868,202005,2020-05-31,2726069000,고산3동,WMAN_FLOW_POP_CNT_6569,1034.47,2020,5,22,6,1,60U
498869,202005,2020-05-31,2726069000,고산3동,WMAN_FLOW_POP_CNT_70U,1142.95,2020,5,22,6,1,60U

In [7]:
skflow['Covid_class'] = np.where(skflow['STD_YMD'].str[-5:]<='02-19', 'A', np.where(skflow['STD_YMD'].str[-5:]<='03-21', 'B',np.where(skflow['STD_YMD'].str[-5:]<='04-19', 'C',np.where(skflow['STD_YMD'].str[-5:]<='05-05', 'D','E'))))

In [9]:
adres_dict = pd.DataFrame(pd.read_pickle(os.path.join(original_processed_file_path,'card_code_to_name_dict.pickle'))).reset_index(drop=True)
adres_dict = adres_dict.rename(columns={'행정동명':'HDNG_NM','구명':'CTGG_NM'})

In [10]:
skflow = skflow.rename(columns={'HDONG_NM':'HDNG_NM','weekday':'dayofweeks'})

In [11]:
final = pd.merge(skflow,adres_dict,on='HDNG_NM').groupby(['CTGG_NM','HDNG_NM','Covid_class','dayofweeks','variable'])['flow_counts'].mean().reset_index()
final = final[final['CTGG_NM'].str.startswith('서울')].reset_index(drop=True)

In [12]:
final = final.rename(columns={'dayofweeks':'dayofweek'})

In [13]:
final

     CTGG_NM HDNG_NM Covid_class  dayofweek variable  flow_counts
0     서울 노원구    공릉1동           A          0     3059  8308.832500
1     서울 노원구    공릉1동           A          0      30L  2574.804615
2     서울 노원구    공릉1동           A          0      60U  6182.445064
3     서울 노원구    공릉1동           A          1     3059  6794.205486
4     서울 노원구    공릉1동           A          1      30L  2364.847292
...      ...     ...         ...        ...      ...          ...
1015   서울 중구     회현동           E          0      30L  3645.005066
1016   서울 중구     회현동           E          0      60U  9988.302193
1017   서울 중구     회현동           E          1     3059  7359.796845
1018   서울 중구     회현동           E          1      30L  2969.959702
1019   서울 중구     회현동           E          1      60U  7037.859167

[1020 rows x 6 columns]

In [112]:
final.to_csv(os.path.join(original_processed_file_path,'CTGG_HDNG_POP.csv'),index=False)